.Display {
  display: flex;
  height: 100px;
  background-color:#858593;
  color: #FFFFFF;
  font-weight: 500;
  padding: 30px 10px;
  text-align: right;
  font-size: 5em;
  justify-content: flex-end;
}
